@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #004336;
    --secondary-color: #508991;
    --accent1-color: #75DDDD;
    --accent2-color: #09BC8A;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #75DDDD;
    --nav-link-color: #004346;
    --nav-hover-link-color: #004346;
    --nav-hover-background-color: #09BC8A;

    width: 50%;
    margin-left: 50px;
}

header {
	margin: 1rem auto;
	display: grid;
    grid-template-columns: 360px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

nav {
    font-size: 30px;
    text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
    float: right;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 1em;
}

p {
    font-family: var(--paragraph-font);
}

.hero {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

.hero p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 1em;
}

.hero h1 {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    padding: .5em;
    margin-top: -8em;
    margin-left: 7em;
}

.hero article {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    margin-top: -10em;
    margin-left: 1em;
    margin-right: 1em;
}

.hero article img {
    float: right;
    margin: 1em;
}

.history {
    display: flex;
    text-align: right;
    align-items: center;
    margin-top: 1em;
}

.adventure {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.adventure img {
    max-width:150%;
}

.contact {
    text-align: left;
    display: grid;
}

.contact h2 {
    text-align: left;

}

.contactlist {
    grid-column: 1;
}

.map {
    grid-column: 2;
}

.map iframe{
    position: relative;
    margin-top: -18em;
    width: 600px;
    height: 300px;
    border: 0px;
}

.employees {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.employees img {
    max-width: 100%;
}

form {
    margin: auto;
    display: grid;
    width: 100%;
    font-family: var(--paragraph-font);
}

fieldset {
    margin-top: 1em;
    width: auto;
}

.form {
    margin-top: .5em;
}

textarea {
    width: 100%;
}

button {
    width: 100%;
    margin-top: .5em;
    background-color: var(--primary-color);
    color: var(--nav-background-color);
}

button:hover {
    background-color: var(--nav-background-color);
    color: var(--primary-color);
}

footer img {
    width: 3%;
    padding: .5em;
    float: right;
}

footer div img {
    border:0;
    width:88px;
    height:31px;
    float: left;
}

a:link {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:visited {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:hover {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:active {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}