@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #004336;
    --secondary-color: #508991;
    --accent1-color: #75DDDD;
    --accent2-color: #09BC8A;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #75DDDD;
    --nav-link-color: #004346;
    --nav-hover-link-color: #004346;
    --nav-hover-background-color: #09BC8A;
}

body {
    width: 960px;
    margin: 0 auto;
}

header {
	margin: 1rem auto;
	display: grid;
    grid-template-columns: 360px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

nav {
    font-size: 30px;
    text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
    float: right;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 1em;
}

p {
    font-family: var(--paragraph-font);
}

.hero {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

.hero p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 1em;
}

.hero h1 {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    padding: .5em;
    margin-top: -8em;
    margin-left: 7em;
}

.hero img {
    width: 100%;
}

.hero article {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    margin-top: -10em;
    margin-left: 1em;
    margin-right: 1em;
}

.hero article img {
    float: right;
    margin: 1em;
    width: auto;
}

.history {
    display: flex;
    text-align: right;
    align-items: center;
    margin-top: 1em;
}

.adventure {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.adventure img {
    max-width:150%;
}

.contact {
    text-align: left;
    display: grid;
}

.contact h2 {
    text-align: left;

}

.contactlist {
    grid-column: 1;
}

.map {
    grid-column: 2;
}

.map iframe{
    position: relative;
    margin-top: -18em;
    width: 600px;
    height: 300px;
    border: 0px;
}

.employees {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.employees img {
    max-width: 100%;
}

form {
    margin: auto;
    display: grid;
    width: 100%;
    font-family: var(--paragraph-font);
}

fieldset {
    margin-top: 1em;
    width: auto;
}

.form {
    margin-top: .5em;
}

textarea {
    width: 100%;
}

button {
    width: 100%;
    margin-top: .5em;
    background-color: var(--primary-color);
    color: var(--nav-background-color);
    font-family: var(--paragraph-font);
}

button:hover {
    background-color: var(--nav-background-color);
    color: var(--primary-color);
}

.trips-banner {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
}

.trips-banner img {
    width: 100%;
}

.trips-banner h1 {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    padding: .5em;
    margin-top: -5em;
    margin-left: 9.5em;
}

.trips-banner button {
    width:400px;
    height: 100px;
    font-size: 2em;
    font-family: var(--paragraph-font);
}

.trips {
    display: flex;
    text-align: right;
    align-items: center;
    margin-top: 1em;
    font-family: var(--paragraph-font);
}

.trips img {
    max-width: 480px;
}

.trips figcaption {
    text-align: center;
}

.trips ul {
    list-style: none;
}

table {
    margin-top: 1em;
    font-family: var(--paragraph-font);
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.home-banner {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

.home-banner img {
    width: 100%;
}

.home-banner h1 {
    position: absolute;
    background-color: rgba(117, 221, 221, .5);
    padding: .5em;
    margin-top: -16em;
    margin-left: 6em;
}

.newsletter-trips {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    font-family: var(--paragraph-font);
}

.newsletter-trips input {
    width: 100%;
}

.newsletter-trips p {
    text-align: right;
}

.newsletter-trips button {
    width:100%;
    height: 50px;
    font-size: 2em;
    font-family: var(--paragraph-font);
}

.trips-link button {
    width:100%;
    height: 100px;
    font-size: 2em;
    font-family: var(--paragraph-font);
}

.purpose-offer {
    display: grid;
    grid-template-columns: auto auto;
}

.purpose-offer img {
    max-width: 100%;
}

.purpose-offer figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
}

.offer {
    text-align: right;
}

footer img {
    width: 3%;
    padding: .5em;
    float: right;
}

footer div img {
    border:0;
    width:88px;
    height:31px;
    float: left;
}

a:link {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:visited {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:hover {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:active {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}