@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 'Montserrat', sans-serif; */

/* * {
    width: 480px;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
} */

main {
    width: 480px;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f4f3;
    color: #49111c;
}

header {
    text-align: center;
}

div {
    display: grid;
    margin: auto;
    padding: 1em;
}

label {
    margin-bottom: 0.5em;
}

img {
    margin-bottom: 0.5em;
}

button {
    background-color: #f2f4f3;
    color: #49111c;
}

button:hover {
    background-color: #49111c;
    color: #f2f4f3;
}